.extra-support {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.extra-support img {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extra-support div {
    width: 200px;
}

.extra-support div:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}