.banner {
    background-image: url(../../../images/banner.jpg);
    height: 500px;
    border-radius: 0 0 50px 50px;
    background-position: center;
    background-size: cover;
}
.banner div{
    padding-top: 300px;
}